<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../styles.css">
        <title>Template list users.</title>
    </head>

    <script>
        function filterAndDisplay() {

            let input = document.getElementById('input');
            let filter = input.value.toUpperCase();

            let list = document.getElementById('list');
            let items = list.getElementsByTagName('a');

            for (let i = 0; i < items.length; i++) {

                let a = items[i];
                let value = a.textContent || a.innerText;

                if (value.toUpperCase().indexOf(filter) > -1) items[i].style.display = "";
                else items[i].style.display = "none";
            }
        }
    </script>

    <body>

        <div class="centered">

            <div class="list">

                <input type="text" id="input" onkeyup="filterAndDisplay()" placeholder="Pesquisar pessoas pelo nome..">

                <div class="grid" id="list">

                    <a href="#" class="grid-item">

                        Cidade 1

                    </a>

                    <a href="#" class="grid-item">

                        Cidade 2

                    </a>

                </div>
            </div>
        </div>
    </body>
</html>