<!DOCTYPE html>
<html lang="en">

<head>
    <title>Jane Doe</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../styles.css" rel="stylesheet">
</head>


<body>

<div class="centered">

    <div class="details">

        <h3>(10598619-7) Roxana Marilyn Munhoz</h3>

        <p class="text">
            <strong>Age: </strong> 91
        </p>

        <p class="text">
            <strong>Gender: </strong> Other
        </p>

        <p class="text">
            <strong>Address: </strong> Vila Viçosa, Évora
        </p>

        <p class="text">
            <strong>Job: </strong> Sargento da Guarda Nacional Republicana
        </p>

        <p class="text">
            <strong>Political Party: </strong> Partido Nacional de Solidariedade (PSN)
        </p>

        <p class="text">
            <strong>Religion: </strong> Candomblé
        </p>

        <p class="text">
            <strong>Sports: </strong> Columbofilia, Ciclismo
        </p>

        <p class="text">
            <strong>Animals/Pets: </strong> Pato-real, Dugongo, Ovelha, Gorila
        </p>

        <p class="text">
            <strong>Celebrity (PT): </strong> Áurea
        </p>

        <p class="text">
            <strong>Car Brand: </strong> Proton
        </p>

        <p class="text">
            <strong>Favourite Destinations </strong> Chade, Catar, Botsuana
        </p>

        <div class="connections">

            <h3>Attributes</h3>

            <div class="grid-con">

                <p class="grid-item">Likes to Dance</p>
                <p class="grid-item">Smokes</p>
                <p class="grid-item">Likes Pets</p>
                <p class="grid-item">Likes Travelling</p>
                <p class="grid-item">Likes Cinema</p>
                <p class="grid-item">Early Bird</p>
                <p class="grid-item">Likes Music</p>
                <p class="grid-item">Likes Eating</p>
                <p class="grid-item">Likes Reading</p>

            </div>

            <script>
                document.write('<h3><a style="text-decoration: none; color: #404040" href="' + document.referrer + '">Go Back</a></h3>');
            </script>

        </div>

    </div>

</div>

</body>


</html>