mixin addModal()

    div#add-modal.modal

        div.modal-content

            span.close(style="float: right") &times;

            h2 Add a new task:
            p Fill in the form to add a new task!

            form#add-form(method="post" action="/tasks/new")

                input#task-name(type="text" name="name" placeholder="Task Name")
                br

                textarea#desc(name="description" rows="4" cols="50" placeholder="Task Description")

                input(type="datetime-local" name="due_date" placeholder="Due Date")

                input.mid(type="text" name="who" placeholder="Responsible Person")

                button#submit-button.submit-button Add New Task