<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Viana do Castelo</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="app.css" rel="stylesheet">
    </head>


    <body>

        <div class="centered">

            <div class="details">

                <h3>Viana do Castelo</h3>

                <p class="desc">
                    Excepteur ex nulla sint qui aute exercitation consectetur in amet consequat sunt. Ut Lorem et exercitation excepteur consectetur labore ut dolore elit. Amet pariatur ipsum non incididunt reprehenderit veniam. Consectetur pariatur pariatur aute anim aute esse anim est esse velit. Aliquip ullamco labore cupidatat deserunt aute nostrud aute tempor. Dolore tempor mollit nostrud reprehenderit dolore labore occaecat nostrud ex. Mollit veniam occaecat Lorem elit dolor nulla ea.
                </p>


                <p class="text">
                    <strong>District: </strong> Viana do Castelo | <strong> Population: </strong> 375341 | <strong> Connections:</strong> 6
                </p>

                <div class="connections">

                    <h3>Connections to Viana do Castelo</h3>

                    <div class="grid-con">

                        <a href="#" class="grid-item">Porto (302km)</a>
                        <a href="#" class="grid-item">Porto (302km)</a>
                        <a href="#" class="grid-item">Porto (302km)</a>
                        <a href="#" class="grid-item">Porto (302km)</a>
                        <a href="#" class="grid-item">Porto (302km)</a>
                        <a href="#" class="grid-item">Porto (302km)</a>
                        <a href="#" class="grid-item">Porto (302km)</a>
                        <a href="#" class="grid-item">Porto (302km)</a>
                        <a href="#" class="grid-item">Porto (302km)</a>
                        <a href="#" class="grid-item">Porto (302km)</a>
                        <a href="#" class="grid-item">Porto (302km)</a>
                        <a href="#" class="grid-item">Porto (302km)</a>
                        <a href="#" class="grid-item">Porto (302km)</a>
                        <a href="#" class="grid-item">Porto (302km)</a>

                    </div>

                    <h3>
                        <a href="/" style="text-decoration: none; color: maroon">Back to Cities</a>
                    </h3>

                </div>

            </div>

        </div>

    </body>


</html>